.header-image {
    background-image: url(../images/Untitled-1.png);
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    margin-bottom: 139px;
    background-repeat: no-repeat;
    background-size: cover;

}

.navigation {

    margin-right: 77px;

}

.nav-ul {
    gap: 54px;

}

.nav-li {
    margin-top: 40px;
}

.nav-a {
    font-size: 16px;
}

.slogan {
    font-size: 96px;
    margin-bottom: 118px;
}

.offer {
    font-size: 30px;
    margin-bottom: 62px;
    max-width: 375px;
    width: 100%;
}

.ads {
    margin-left: 235px;
}

.header-btn {
    width: 255px;
    height: 68px;
    font-size: 27px;
}



/* second section styles */

.question {
    margin-bottom: 43px;
    font-size: 50px;
}

.slogan2 {
    margin-bottom: 72px;
    font-size: 20px;
}

.icon-a {
    font-size: 18px;
    margin-top: 27px;
}


/* 3rd section styles */
.image-wraper {
    background-image: url(../images/Rectangle\ 263.png);
    max-width: 1920px;
    width: 100%;
    /* height: 852px; */
    margin-top: 168px;


}

.courier {
    max-width: 809px;
    width: 100%;
    height: 809px;
}

/* .image-box {
    margin-top: 354px;
    margin-left: 43px;
} */

.slogan3 {
    font-size: 47px;
    margin-bottom: 63.5px;
}

.slogan-text {
    font-size: 20px;
    max-width: 449px;
    width: 100%;
}

/* 4th section styles */
.question1 {
    font-size: 40px;
    margin-top: 126px;
    margin-bottom: 62px;

}

.card-img {
    max-width: 350px;
    width: 100%;
    height: 250px;
}

.card-btn {
    width: 164px;
    height: 40px;
    font-size: 14px;
}

.price {
    font-size: 22px;
    margin-left: 12px;
}

.card-body {
    margin-top: 73.5px;

}

.card-title {
    font-size: 22px;
    margin-bottom: 12px;
}

.card-text {
    margin-bottom: 40px;
    font-size: 16px;
}

.flex-boxes {
    gap: 10px;
    margin-bottom: 59px;


}

.flex-boxes2 {
    margin-bottom: 106px;
    gap: 10px;
}

.bottom-btn {
    width: 255px;
    height: 68px;
    font-size: 18px;
}

.bottom-div {
    margin-bottom: 161px;

}

/* last section styles */
.image-wraper2 {
    background-image: url(../images/Rectangle\ 274.png);
    /* height: 564px; */
    max-width: 1920px;
    width: 100%;
    padding-top: 120px;

    /* padding: 40px; */
    gap: 49px;
}

.card-box {
    width: 300px;
    height: 300px;
}

.card-img1 {
    width: 66.24px;
    height: 73.8px;
    margin-top: 20px;
    margin-bottom: 16.7px;
}

.top-title {
    width: 140px;
    font-size: 20px;
    margin-bottom: 18.5px;

}

.bottom-title {
    width: 140px;
}

.line {
    width: 50px;
    height: 3px;
    margin-bottom: 18px;
}